# =====================
# Node / Backend
# =====================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
*.env
.env.local
.env.development
.env.production

# =====================
Frontend/node_modules/
Frontend/dist/
Frontend/build/
Frontend/.vite/
Frontend/.next/
Frontend/out/

# =====================
Backend/node_modules/
Backend/uploads/
Backend/dist/

# =====================
logs/
*.log

# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
# =====================
coverage/
